.root
    display flex
    padding 5u 3u 5u 3u
    justify-content center
    align-items center
    background white
    border-bottom solid 1px #dddddd
    box-sizing border-box
    &.first
        border-top 0
        border-radius 1u 1u 0 0
    &.last
        border-radius 0 0 1u 1u
        border-bottom 0
    +tablet()
        padding 8u
    +wide()
        padding 12u 12u 7u 12u