.root
    background-color white
    border-radius 1u
    border 1px solid #DDDDDD
    width 100%
    text-align center
    +tablet()
        padding 0 5u

.secondary
    
    background-color #8cc9f0
    border none

.transparent
    border-radius 1u
    background-color transparent

.icon
    width auto
    background-color none

.text
    font-size 2u
    color grey
    line-height 5u
    &.secondary
        color white
    &.transparent
        color white