.root
    background-color white
    border-radius 1u
    padding 0 5u
    border 1px solid #DDDDDD
    width 100%
    text-align center

.secondary
    
    background-color #8cc9f0
    border none

.transparent
    border-radius 1u
    background-color transparent

.text
    font-size 2u
    color grey
    line-height 5u
    &.secondary
        color white
    &.transparent
        color white