.header
    width 100%
    display flex
    padding 7u 5u 4u 5u
    justify-content center
    align-items center
    +tablet()
     padding 12u 8u 6u 8u
    +desktop()
     padding 17u 11u 9u 12u

.rocket
    width 85px
    height 85px

.logoText, .description
    color white

.logoText
    margin-top 2u
    font-size 2.5em

.description
    color rgba(255, 255, 255, 0.65)
    font-size 1.7u
    margin-top 2em
    line-height 3u
    text-align center