.text
    color #636363
    font-size 3u
    +tablet()
        font-size 4u

.major
    background-color #efa8b0
    width 9u
    height 0.25u
    border-radius 2px
    margin 3u 0 0 0
    display block
    +tablet()
        margin-top 4u
    +wide()
        margin-top 4u